body {
    background-color: azure;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;

}

